@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');
.truth-label {
    min-width: 20px;
    height: 20px;
    font-size: 11px;
    line-height: 16px;
    @apply text-truth-yellow border-2 border-truth-yellow border-opacity-50 rounded-sm text-center mr-2;
}

.dare-label {
    min-width: 20px;
    height: 20px;
    font-size: 11px;
    line-height: 16px;
    @apply text-dare-green border-2 border-green-400 border-opacity-50 rounded-sm text-center mr-2;
}

.height-450 {
    height: 450px;
}

.height-250 {
    height: 250px;
}